.range {
    height: 3px;
    width: 100%;
    background: rgb(188 188 188);
    border-radius: 8px;
    outline: none;
    appearance: none;
}

.range::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    background-color: #05ac6a;
    appearance: none;
    cursor: pointer;
    border-radius: 50%;
    border: 0;
}
