.wrapper {
    border-radius: var(--br-m);
    width: 580px;
    height: 200px;
    box-shadow: 0 0 8px 2px #1c274c;
    background-color: #fffdfd;
    position: relative;
    padding: var(--p-m);
    padding-right: 0;
    display: grid;
    grid-template-columns: 12% 58% 30%;
}

.sidePanel {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.middlePanel {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    align-items: center;
}

.title {
    /* Обрезаем длинные названия */
    -webkit-line-clamp: 2; /* Версия с префиксом для WebKit */
    -webkit-box-orient: vertical;
    display: box; /* Это для старых версий */
    line-clamp: 2; /* Стандартная версия на будущее */
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
}
